@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

* {
  /*border: 1px solid blue;*/
}

html,
body,
div.board,
.app {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

div.board {
  background-color: 'brown';
  width: 100%;
  background: lightgray;
}

div.note {
  height: 150px;
  width: 150px;
  margin: 2px 0;
  position: absolute;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
  z-index: 1;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px 5px 5px 10px;
  font-family: "Shadows Into Light", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  width: 99%;
  height: 70%;
  background: rgba(255, 255, 255, .5);
  resize: none;
}

.board > .addButton {
  position: fixed;
  padding: 0 13px;
  top: 10px;
  right: 10px;
  font-size: 2em;
}

.board > .clearButton {
  position: fixed;
  padding: 0 11px;
  top: 70px;
  right: 10px;
  font-size: 2em;
}

.zIndex1 {
  z-index: 1;
}

.zIndex99 {
  z-index: 99 !important;
}